body {
  margin: 0;
  background-color: #131417;
  color: white;
}

section {
  scroll-margin-top: 100px; /* Replace 100px with your header's height */
}

html {
  scroll-behavior: smooth;
}

#home {
  background-image: url(/assests/images/programming-background-new.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
}

header {
  /* background-color: #333; */
  position: sticky;
  top: 0;
  background-color: #131417;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999; /* Header stays above most content */
}

#greeting,
#intro {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
}

#greeting {
  color: #113d94;
}

#Profession {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-size: 2rem;
}
#second-name {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;

  color: #55769d;
  position: absolute;
  left: 25px;
  top: 60px;
}

#first-name {
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}

#home-me {
  font-family: "Dancing Script", cursive !important;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.burger {
  display: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.menu-panel {
  background-color: #131417;
  color: white;
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.4s ease;
  z-index: 1000; /* High enough to appear above header */
}

.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}

.menu-panel ul li {
  margin-bottom: 20px;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1001;
  position: absolute; /* Ensure it doesn't follow the normal flow */
}

#btn-download {
  padding: 20px;
  background-color: #55769d;
  color: white;
  border-radius: 50px;
  width: 200px;
  border: 1px solid #55769d;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  /* box-shadow: 0 4px 12px rgb(89, 128, 153); */
  transition: transform ease;
}

#btn-download:hover {
  transform: scale(1.1);
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between icons */
  padding: 20px; /* Padding around the container */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.social-icon {
  font-size: 3.5rem; /* Adjust icon size */
  color: white; /* Default icon color */
  transition: transform 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.social-icon:hover {
  color: #007bff; /* Change color on hover */
  transform: scale(1.2); /* Slightly enlarge icon on hover */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.8), 0 0 20px rgba(0, 123, 255, 0.6); /* Glow effect */
}

#title-about {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  color: #55769d;
  font-size: 4rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "Chilanka", cursive;
  /* font-size: 1rem; */
}

#about img {
  width: 40%;
  border-radius: 40px;
  margin: 10px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  animation: float 3s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateX(0); /* Start position */
  }
  50% {
    transform: translateX(-20px); /* Moves by 20px */
  }
  100% {
    transform: translateX(0); /* Returns to start position */
  }
}

#about p {
  padding: 20px;
  font-family: "Crimson Text", serif;
  font-size: 1.4rem;
}
.about-container {
  display: flex;
}

#btn-see-more {
  background-color: #55769d;
  border: 1px solid #55769d;
  padding: 10px 15px;
  border-radius: 40px;
  cursor: pointer;
  /* box-shadow: 0 4px 12px rgb(85, 135, 167); */
  font-weight: 400;
  font-size: 1rem;
  color: white;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  transition: transform ease;
}

#btn-see-more:hover {
  transform: scale(1.1);
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}
/* service section */
#services h1 {
  font-family: Arial, sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

#services {
  font-family: "Crimson Text", serif;
  /* font-size: 1.2rem; */
  padding: 20px;
}

#services p {
  font-size: 1.4rem;
}

#services img {
  width: 100px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
}

.service-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding smooth transition */
}

.service-card:hover {
  transform: translateY(-7px); /* Moves the card up a little */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Creates a larger shadow for the lifted effect */
}

.service-card p {
  padding: 0 30px;
  font-size: 1rem;
}

/* Qualifications */
#Qualifications {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.timeline-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.Qualifications-title {
  font-size: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

h1 span {
  color: #55769d; /* Highlight color */
}

/* Timeline Styles */
.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 100px; /* Space for the timeline line and circles */
}

.timeline::before {
  content: "";
  position: absolute;
  left: 60px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #55769d; /* Line color */
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Initial state for animation */
  opacity: 0; /* Initially hidden */
  transform: translateX(-50px); /* Start position */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth transition */
}

.timeline-item:nth-child(2) {
  animation-delay: 0.3s; /* Staggered delay */
}

.timeline-item:nth-child(3) {
  animation-delay: 0.6s; /* Staggered delay */
}

.timeline-year {
  font-size: 1.2rem;
  font-weight: bold;
  color: #55769d; /* Year color */
  position: relative;
  width: 140px;
  margin-bottom: 20px;
}

.timeline-year::before {
  content: "";
  position: absolute;
  left: -46px; /* Adjust to align with the timeline line */
  top: 50%; /* Vertically center the circle */
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #55769d; /* Circle color */
  border-radius: 50%; /* Make it a circle */
  border: 2px solid #fff; /* Optional border for decoration */
}

.timeline-content {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  max-width: 600px;

  /* Hover and Focus Transition */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover,
.timeline-content:focus {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7); /* Stronger shadow */
}

.timeline-content h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
}

/* Keyframes for Slide-in Animation */
@keyframes slideIn {
  from {
    opacity: 0; /* Hidden */
    transform: translateX(-50px); /* Start from the left */
  }
  to {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Normal position */
  }
}

/* skils */
/* styles.css */
.skills-section {
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 40px;
}

.box-container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 50%;
}
.skills-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.skills-section p {
  font-size: 1em;
  font-family: "Crimson Text", serif;
  margin-bottom: 30px;
}

.skill {
  margin: 20px 0;
  text-align: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.skill label {
  font-size: 1.2em;
}

.progress-bar {
  background: #333;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  height: 20px;
}

.progress {
  background: #55769d;
  height: 100%;
  width: 0;
  transition: width 0.5s;
}

/* Projects */
.portfolio {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.portfolio h1 {
  font-family: Arial, sans-serif;
  font-size: 3.5rem;
}
.item-info h3 {
  color: #55769d;
}

.carousel {
  perspective: 1000px; /* Perspective for 3D effect */
  position: relative;
  overflow: hidden;
  margin-top: 20px; /* Add margin to separate from the header */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 12px rgb(103, 101, 101); /* Soft shadow for the carousel */
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  transform-style: preserve-3d; /* Enable 3D transformations */
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  background-color: #1e1e1e; /* Background color for the carousel items */
  transition: transform 0.5s ease; /* Smooth transition for each item */
  backface-visibility: hidden; /* Hide the back of the items */
  border-radius: 10px; /* Rounded corners for carousel items */
  box-shadow: 0 4px 12px rgb(103, 101, 101); /* Soft shadow around carousel items */
  position: relative; /* Make the item relative for absolute positioning of the text */
  display: inline-block; /* Ensure items are displayed inline */
}

.carousel-item img {
  display: block; /* Remove bottom space under images */
  width: 100%; /* Make images responsive */
}

.hover-text {
  position: absolute;
  border-radius: 5px;
  top: 53%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  color: white; /* Change text color */
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: background for better visibility */
  padding: 5px; /* Optional: padding for better appearance */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  opacity: 1; /* Initially visible */
}

.carousel-item:hover .hover-text {
  opacity: 0; /* Hide the text on hover */
}

.carousel img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for images */
  transition: transform 0.3s ease; /* Smooth image transition */
}

.carousel-item:hover img {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.item-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay for text readability */
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  color: #fff;
  border-radius: 0 0 10px 10px; /* Round bottom corners of the text box */
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  font-family: "Crimson Text", serif;
}

.carousel-item:hover .item-info {
  opacity: 1; /* Show text on hover */
  transform: translateY(0); /* Slide in text */
}

.carousel-btn {
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 998; /* Ensure buttons are above other elements */
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent background for visibility */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth background and transform transitions */
  box-shadow: 0 4px 12px rgb(103, 101, 101);
}

.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 1); /* Change background on hover */
  transform: scale(1.1); /* Slight enlarge effect on hover */
  box-shadow: 0 4px 12px rgb(103, 101, 101);
}

.carousel-btn.prev {
  left: 10px; /* Position left */
}

.carousel-btn.next {
  right: 10px; /* Position right */
}

.demo-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #55769d;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
}

.demo-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

.footer-links {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Space above the footer links */
}

.github-link {
  font-size: 2rem; /* Increase icon size */
  color: white;
  margin-right: 15px; /* Space between icon and button */
  transition: color 0.3s; /* Smooth color transition */
}

.github-link:hover {
  transform: scale(1.1);
  color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

.projects-btn {
  background-color: #55769d; /* Button background color */
  text-decoration: none;
  color: white; /* Button text color */
  border: none; /* Remove border */
  border-radius: 50px; /* Rounded corners */
  padding: 10px 20px; /* Padding for button */
  font-size: 16px; /* Button text size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.projects-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

/* feedbacks */
.feedbacks {
  text-align: center;
  position: relative;
  max-width: 800px;
  margin: auto;
}

.feedback-container {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #1e1e1e;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  margin: 90px;
  border-radius: 10px;
}

.feedback-card {
  min-width: 100%;
  transition: transform 0.5s ease;
  opacity: 0;
  display: none; /* Hide all cards initially */
  height: 300px;
  transition: transform ease-in-out 0.3;
}

.feedback-card:hover {
  transform: translateY(-10px); /* Stand-up effect */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.feedback-card.active {
  opacity: 1;
  display: block; /* Show active card */
}

.profile-details {
  margin-bottom: 15px;
}

.profile-details img {
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-top: 15px;
}

.star {
  color: #55769d;
}

button.prev,
button.next {
  border: none;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* contacts */
#Contacts h1 {
  font-family: Arial, sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

#Contacts p {
  font-family: "Crimson Text", serif;
  padding: 0 30px;
  font-size: 1.4rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 20px;
}

.contact-card {
  display: flex;
  flex-direction: column;
}

.content-deatil {
  display: flex;
}

.content-deatil i {
  margin-right: 10px;
  font-size: 3.5rem;
}
.content-deatil i:hover {
  color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.name-email {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.name,
.email {
  width: 500px;
  height: 50px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #fff;
}

textarea {
  height: 200px;
}

.btn {
  background-color: #55769d;
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto; /* Centers the button horizontally */
  display: block; /* Ensures the button takes up the full width */
  transition: transform ease-in-out;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
}

.btn:hover {
  transform: scale(1.1);
  background-color: #0056b3;
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

/* Footer Container */
footer {
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.footer-container {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-container h5 {
  font-family: "Dancing Script", cursive;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: #fff;
  font-family: "Crimson Text", serif;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #528fb2;
}

.footer-container h5 {
  font-size: 2rem;
}

.footer-social {
  text-align: center;
  flex: 1 1 30%;
}

.footer-social i {
  font-size: 3.5rem;
  color: white;
  transition: color 0.3s;
  margin-left: 3px;
}

.footer-social i:hover {
  transform: scale(1.1);
  color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 15px rgba(9, 126, 216, 0.7), 0 0 30px rgba(9, 126, 216, 0.5); /* Blue glow effect */
}

/* Footer Bottom Section */
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
  font-size: 12px;
}

/* Scroll to Top Button */
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0056b3; /* Button color */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scrollToTop:hover {
  transform: scale(1.1);
  background-color: #0056b3; /* Hover color */
}

/* Show button when page is scrolled */
#scrollToTop.visible {
  opacity: 1;
  visibility: visible;
}

/* begins media queries */
/* mobile phones */
@media screen and (max-width: 426px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .menu-panel.active {
    right: 0;
  }

  #first-name,
  #second-name {
    font-size: 2rem;
  }

  #second-name {
    position: absolute;
    left: 25px;
    top: 35px;
  }

  #greeting,
  #intro {
    font-size: 2rem;
  }

  #Profession {
    font-size: 0.9rem;
  }

  #btn-download {
    width: 150px;
    font-size: 0.8rem;
    padding: 10px;
  }

  .home-container {
    gap: 8px; /* Further reduce space between icons */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .social-icon {
    font-size: 2.5rem; /* Smaller icon size for very small screens */
  }

  #title-about {
    font-size: 2rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  #about img {
    width: 90%;
    object-fit: cover;
    margin: 20px;
  }

  #btn-see-more {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  #about p {
    font-size: 0.8rem;
  }

  #services h1 {
    font-size: 2rem;
  }

  #services p {
    font-size: 0.8rem;
  }

  .service-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #services img {
    width: 70px;
    margin-left: 10px;
  }

  .service-card {
    display: flex;
    flex-direction: row;
  }

  #services h3 {
    text-align: left;
    padding-left: 30px;
  }

  /* Qualifications */

  #Qualifications.show {
    visibility: visible;
    opacity: 1;
  }

  .Qualifications-title {
    font-size: 2rem;
  }

  #Qualifications h1 {
    font-size: 1.8rem;
  }

  #Qualifications .timeline {
    padding-left: 60px;
  }

  #Qualifications .timeline-year {
    font-size: 0.9rem;
    width: 100px;
    margin-left: 25px;
  }

  #Qualifications .timeline-year::before {
    left: -32px; /* Adjust circle position */
  }

  #Qualifications .timeline-content {
    max-width: 90%;
    padding: 15px;
    font-size: 0.8rem;
    margin-left: 25px;
  }

  .timeline-content p {
    font-size: 0.8rem;
  }

  #Qualifications .timeline-content h2 {
    font-size: 0.8rem;
  }

  /* skills */
  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  .skills-section {
    padding: 20px;
  }

  .skill label {
    font-size: 0.8rem;
  }
  /* projects */
  .carousel-btn {
    font-size: 1.5rem; /* Smaller button size */
    padding: 8px; /* Smaller padding */
  }

  .item-info {
    padding: 10px; /* Smaller padding for text */
    font-size: 0.9rem;
  }

  .demo-btn {
    padding: 8px 12px; /* Smaller button size */
  }

  .portfolio h1 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }

  .hover-text {
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
  }

  .projects-btn {
    font-size: 0.8rem;
  }

  /* feedback */
  #feedbacks h1 {
    font-size: 2rem;
  }

  #feedbacks p {
    font-size: 0.8rem;
    padding: 10px;
  }

  .feedback-card {
    height: 350px;
  }

  .profile-details img {
    width: 70px;
    height: 50px;
    margin-top: 15px;
  }

  .star {
    font-size: 0.8rem;
  }

  .profile-names {
    font-size: 0.8rem;
  }

  #Contacts h1 {
    font-size: 2rem;
  }

  #Contacts p {
    font-size: 0.8rem;
  }
  .content-deatil i {
    margin-right: 10px;
    font-size: 1.5rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
    padding: 0 30%;
  }

  .name-email {
    flex-direction: column;
    gap: 10px;
  }

  input[type="text"],
  input[type="email"] {
    width: 250px;
    height: 30px;
  }

  .btn {
    padding: 10px 10px;
  }

  .footer-social i {
    font-size: 2rem;
  }

  section {
    scroll-margin-top: 65px; /* Replace 100px with your header's height */
  }
}

/* tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-links li a {
    font-size: 0.9rem;
  }

  #first-name,
  #second-name {
    font-size: 2.5rem;
  }

  #second-name {
    position: absolute;
    left: 25px;
    top: 42px;
  }

  #greeting,
  #intro {
    font-size: 3rem;
  }

  #Profession {
    font-size: 1.3rem;
  }

  #btn-download {
    width: 180px;
    font-size: 0.8rem;
    padding: 14px;
  }

  .home-container {
    gap: 10px; /* Reduce space between icons */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .social-icon {
    font-size: 3rem; /* Smaller icon size for medium screens */
  }

  #title-about {
    font-size: 2rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  #about img {
    width: 80%;
    object-fit: cover;
    margin: 0 70px;
  }

  #about p {
    padding: 20px;
    font-size: 1rem;
  }

  #services h1 {
    font-size: 2rem;
  }

  #services p {
    font-size: 1rem;
  }

  .service-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #services img {
    width: 70px;
    margin-left: 10px;
  }

  .service-card {
    display: flex;
    flex-direction: row;
  }

  #services h3 {
    text-align: left;
    padding-left: 30px;
  }

  /* Qualifications */
  .Qualifications-title {
    font-size: 2rem;
  }

  #Qualifications h1 {
    font-size: 2rem;
  }

  #Qualifications .timeline {
    padding-left: 80px;
  }

  #Qualifications .timeline-year {
    font-size: 1.1rem;
    width: 120px;
  }

  #Qualifications .timeline-year::before {
    left: -27px; /* Adjust circle position */
  }

  #Qualifications .timeline-content {
    max-width: 90%;
    padding: 18px;
    font-size: 1rem;
  }

  #Qualifications .timeline-content h2 {
    font-size: 1.4rem;
  }

  /* projects */

  .portfolio h1 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }

  .carousel {
    margin-top: 15px; /* Slightly reduce margin */
  }

  .carousel-btn {
    font-size: 1.75rem; /* Adjust button size */
    padding: 10px; /* Maintain padding */
  }

  .carousel-item {
    border-radius: 8px; /* Slightly smaller border radius */
  }

  .item-info {
    padding: 15px; /* Adjust padding for text */
  }

  .demo-btn {
    padding: 10px 12px; /* Adjust button size */
  }

  .carousel img {
    border-radius: 6px; /* Adjust image border radius */
  }

  .carousel-item:hover img {
    transform: scale(1.03); /* Slightly reduce zoom effect on hover */
  }

  /* feedbacks */
  #feedbacks h1 {
    font-size: 2rem;
  }

  .feedback-card {
    height: 330px;
  }

  #feedbacks p {
    font-size: 1rem;
  }

  .profile-details img {
    width: 100px;
    height: 80px;
    margin: 10px;
  }

  .feedback-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .star {
    font-size: 1.5rem;
  }

  .profile-names {
    font-size: 0.9rem;
  }

  .content-deatil i {
    margin-right: 10px;
    font-size: 2.5rem;
  }

  #Contacts h1 {
    font-size: 2rem;
  }

  #Contacts p {
    font-size: 1rem;
  }

  .name-email {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social i {
    font-size: 2.5rem;
  }

  section {
    scroll-margin-top: 75px; /* Replace 100px with your header's height */
  }
}
